.button {
     text-decoration: none;
     display: inline-block;
     padding: 10px 15px;
     border-radius: var(--radius-small);
     transition: var(--transition);
}


.button:hover {
     color: var(--theme-default);
     border: 1px solid var(--theme-default);
}


.disabled {
     opacity: .7;
     pointer-events: none;
}

.dark {
     border: 1px solid var(--color-white);
     color: var(--color-white);
}

.light {
     border: 1px solid var(--color-dark);
     color: var(--color-dark);
}