.button {
     text-decoration: none;
     display: inline-block;
     padding: 10px 15px;
     border-radius: var(--radius-small);
     transition: var(--transition);
}

.disabled {
     opacity: .7;
     pointer-events: none;
}

.button.DEFAULT_THEME {
     border: 1px solid var(--color-white);
     color: var(--color-white);
}

.button.DEFAULT_THEME:hover {
     color: var(--theme-default);
     border: 1px solid var(--theme-default);
}

.button.LIGHT_THEME {
     border: 1px solid var(--theme-light);
     color: var(--theme-light);
}

.button.LIGHT_THEME:hover {
     background-color: var(--theme-light);
     color: var(--color-white);
}