.menu {

}

.menu_list {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
}

.menu_item a {
     font-size: 16px;
     text-decoration: none;
     padding: 10px 15px;
     display: inline-block;
     border-radius: var(--radius-small);
     transition: var(--transition);
     border: 1px solid transparent;
}

.menu_item a:hover, .menu_item :global(a.active) {
     color: var(--theme-default);
     border: 1px solid var(--theme-default);
}

.menu_item {
     margin: 0 10px 0 0;
}

.menu.DEFAULT_THEME .menu_item a {
     color: var(--color-white);
}

.menu.LIGHT_THEME .menu_item a {
     color: var(--theme-light);
}

.menu.LIGHT_THEME .menu_item a:hover, .menu.LIGHT_THEME .menu_item :global(a.active)  {
     color: var(--theme-light);
     border: 1px solid var(--theme-light);
}

.dark .menu_item a:hover, .dark .menu_item :global(a.active) {
     text-shadow: var(--text-shadow-blue);
}

.light .menu_item a {
     color: var(--color-dark);
}

.light .menu_item a:hover,
.light .menu_item :global(a.active) {
     text-shadow: var(--color-dark);
}